
body{
    background-color: white;
    font-family: Verdana;
    width: 900px;
    margin: auto; 
    max-width: 900px;
}

#titulo-principal, .subtitulo, .post-title{
    color: tomato;
    text-transform: uppercase;
}

.img-top{
    border-radius: 50px;
}

.subtitulo{
    font-size: 30px;
}

.post-conteudo{
    color: black;
    font-size: 16px;
    margin: 0px;
    margin-bottom: 10px;
    text-align: justify;
}

.post-title{
    margin: 0px;
    margin-bottom: 10px;
}

.lista-conteudo, .lista-itens{
    color: tomato;
    font-size: 16px;

}

.post-article{
    padding: 10px;
    border: 3px solid black;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.post-img{
    margin-bottom: 10px;
    width: 100%;
}